.blogMainImage {
	position: relative;
	height: 50vh;
	display: block;
	background-position: 50%;
	background-size: cover;
}

.blogGradient {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 0.7;
	background-image: linear-gradient(to top, black 0% 50%, transparent 100%);
}

h2 {
	font-weight: 600;
	font-size: 1.25rem;
	margin-top: 15px;
	margin-bottom: 5px;
}

li {
	list-style-type: disc;
	list-style-position: inside;
}

ul {
	margin: 10px 0;
}